.preloader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeee;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.wave {
  margin-top: 0.5rem;
  position: relative;
  color: #16a085;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px 3px #9ae7d8, -0.5px 0.5px 3px #9ae7d8;
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
