.download {
  padding: 5rem 0;
  background: #f5f6f7;
}

.download .title {
  color: #373737;
}

.download .para {
  margin: 0 auto;
  width: 80%;
  font-family: "Varela Round";
  line-height: 1.5;
}

.btn-wrapper {
  height: 1rem;
  /* background: #1abc9c; */
}

.download button {
  outline: none;
  border: none;
  background: #1abc9c;
  padding: 8px 14px;
  border-radius: 0.2rem;
}

.download span {
  color: #fff;
  text-transform: uppercase;
  font-family: "Gotham Rounded";
  font-size: 0.75rem;
  letter-spacing: 1px;
  transition: 0.3s;
  margin-left: 6px;
}

.download i {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
}

.download button:hover {
  background: #16a085;
}

@media (max-width: 991px) {
  .download .para {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .btn__wrapper {
    flex-direction: column;
  }
}
